.FormContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1.Error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    background-color: #e71818;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }

  .Form {
    min-height: 320px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    h1 {
      text-transform: capitalize;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    .InputGroup {
      width: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8rem;
        text-transform: capitalize;
        margin: 0 8px;
        opacity: 0;
        cursor: text;
        user-select: none;
        transition: transform 0.1s ease-out;
      }

      input {
        padding: 15px 8px 8px 8px;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #000;

        &:hover,
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
          background-color: rgba(0, 0, 0, 0.062);
        }

        &::placeholder {
          text-transform: capitalize;
        }

        &:not(:placeholder-shown) {
          & + label {
            font-size: 0.9rem;
            background-color: #fff;
            opacity: 0.7;
            transform: translateY(-180%);
          }
        }
      }

      .Icon {
        height: 100%;
        width: 12%;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    button {
      position: relative;
      min-height: 30px;
      appearance: none;
      border: none;
      width: 40%;
      font-size: 1.2rem;
      text-transform: capitalize;
      padding: 5px 0;
      margin-top: 1rem;
      cursor: pointer;
      background-color: #000;
      color: #fff;
      border-radius: 4px;

      &.Disable {
        cursor: not-allowed;
      }

      .ButtonLoader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        border-top: 2px solid #fff;
        border-radius: 50%;
        animation: buttonLoader 0.8s linear infinite;
      }
    }
  }
}

.Loading {
  width: 100px;
  height: 100px;
  border-top: 2px solid;
  border-radius: 50%;
  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes buttonLoader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
